@import '@nl/tailwind-config/styles';

/* third-party */
@import 'react-perfect-scrollbar/dist/css/styles.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* ==============================|| OVERRIDES ||============================== */

:root {
  --root-font-size: 16px;
}

/* ==============================|| SLICK||============================== */
.slick-arrow:before {
  color: var(--color-gray-500);
}

.slick-track {
  margin-left: 0;
}

/* ==============================|| PERFECT SCROLLBAR ||============================== */

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: var(--color-gray-500);
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: var(--color-gray-500);
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

/* ==============================|| EXTRAS ||============================== */

/* apps/app/src/constants/equips.tsx */
.inventory {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  &:active {
    outline: 3px solid var(--color-brand-purple);
    outline-offset: -3px;
  }
}
