@import '@nl/ui/styles.css';
@import './scrollbar.css';

/* ==============================|| OVERRIDES ||============================== */

:root {
  color-scheme: dark light;

  --root-font-size: 16px;

  --custom-max-width: var(--container-7xl); /* 1280px */
}
