/* ==============================|| FOOTER ||============================== */

.footer {
  .footer_container {
    padding: 40px 20px;
    max-width: 976px;
  }
  a {
    color: #d2d3db;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
  a:hover {
    color: #ffffff;
    text-shadow:
      0px 0px 5px var(--custom-panel-color),
      0px 0px 10px #f5f5f5,
      0px 0px 15px #f5f5f5,
      0px 0px 25px var(--custom-panel-color),
      0px 0px 40px var(--custom-panel-color);
  }
}

@media (max-width: 768px) {
  .footer {
    .footer_container {
      padding-top: 24px;
      padding-bottom: 24px;
      .row {
        justify-content: center;
      }
    }
    a {
      font-size: 14px;
      text-align: left;
    }
    .last-column a {
      text-align: right;
    }
  }
}
@media (min-width: 768px) {
  .footer {
    a {
      text-align: left;
    }
  }
}

@media (orientation: landscape) and (max-width: 550px) {
  .footer {
    a {
      text-align: center;
    }
    .col-sm-8,
    .col-sm-4 {
      width: 50% !important;
    }
  }
}
