.inputCheck {
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #4d4d4d;
}

.inputCheckFormControl {
  margin-left: 0;
  margin-right: 0;
  min-width: 0;
}

.filterOption {
  min-width: 0;
}

.filterOption > div,
.filterOption > span {
  min-width: 0;
}

.filterOption span {
  white-space: nowrap;
}
