.customDialog {
  overflow-x: hidden;
  min-width: 0;
}

@media (max-width: 767.95px) {
  .customDialogRent,
  .customDialogEquip {
    margin: 16px;
    max-width: calc(100% - 32px) !important;
    width: calc(100% - 32px) !important;
    height: auto;
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  .customDialogRent {
    min-width: 550px;
  }
}
