.swapBox {
  background: #161622;
  border: 1px solid #282b3f;
  padding: 12px 12px 4px 12px;
  height: 93px;
  width: 100%;
}

.tokenBox {
  background: #202230;
  border-radius: 10px;
  width: 72px;
}

.infoUSD {
  color: #4d4d4f;
  position: absolute;
}

.transactionBox {
  border-radius: 0 0 10px 10px;
  border: 1px solid #282b3f;
  padding: 12px;
}

.transactionValue {
  font-size: 20px !important;
}

.tokenAmountInput {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 36px;
  font-size: 36px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tokenAmountInput::placeholder {
  font-size: 36px;
  color: #4d4d4f;
}
