.sbui-radio-fieldset {
  margin: 0px;
  border-style: none;
  padding: 0px;
}

.sbui-radio-container {
  position: relative;
  display: flex;
  cursor: pointer;
  border-style: none;
  padding: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sbui-radio-container--card {
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-radio-container--card {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-radio-container--card {
  padding: 1rem;
}

.sbui-radio-container--card--active {
  z-index: 10;
  --tw-border-opacity: 1;
  border-color: rgba(105, 211, 160, var(--tw-border-opacity));
}

:global(.dark) .sbui-radio-container--card--active {
  --tw-border-opacity: 1;
  border-color: rgba(105, 211, 160, var(--tw-border-opacity));
}

.sbui-radio-container--card--active {
  --tw-bg-opacity: 1;
  background-color: rgba(130, 218, 176, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.sbui-radio-container--card:first-child {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.sbui-radio-container--card:last-child {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.sbui-radio-label {
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.sbui-radio-label-text {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

:global(.dark) .sbui-radio-label-text {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.sbui-radio-label-text .sbui-radio__label-text-before,
.sbui-radio-label-text .sbui-radio__label-text-after {
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

:global(.dark) .sbui-radio-label-text .sbui-radio__label-text-before,
:global(.dark) .sbui-radio-label-text .sbui-radio__label-text-after {
  --tw-text-opacity: 1;
  color: rgba(187, 187, 187, var(--tw-text-opacity));
}

.sbui-radio-label-description {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

:global(.dark) .sbui-radio-label-description {
  --tw-text-opacity: 1;
  color: rgba(187, 187, 187, var(--tw-text-opacity));
}

.sbui-radio {
  margin-right: 0.875rem;
  margin-left: 0px;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(101, 217, 165, var(--tw-text-opacity));
}

.sbui-radio:hover {
  --tw-border-opacity: 1;
  border-color: rgba(62, 207, 142, var(--tw-border-opacity));
}

.sbui-radio:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(159, 231, 199, var(--tw-ring-opacity));
}

:global(.dark) .sbui-radio:hover {
  --tw-border-opacity: 1;
  border-color: rgba(62, 207, 142, var(--tw-border-opacity));
}

:global(.dark) .sbui-radio {
  background-color: transparent;
}

.sbui-radio:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.sbui-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.sbui-radio {
  -webkit-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-origin: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
}

.sbui-radio-group-contents > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(-1px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(-1px * var(--tw-space-y-reverse));
}

.sbui-radio-group-contents {
  border-radius: var(--border-radius-default);
}

:global(.dark) .sbui-radio-group-contents {
  background-color: transparent;
}

/*
  Label sizes
*/

.sbui-radio-container--tiny .sbui-radio-label,
.sbui-radio-container--tiny .sbui-radio-label-text,
.sbui-radio-container--tiny .sbui-radio-label-description {
  font-size: 0.75rem;
  line-height: 1rem;
}

.sbui-radio-container--small .sbui-radio-label,
.sbui-radio-container--small .sbui-radio-label-text,
.sbui-radio-container--small .sbui-radio-label-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.sbui-radio-container--medium .sbui-radio-label,
.sbui-radio-container--medium .sbui-radio-label-text,
.sbui-radio-container--medium .sbui-radio-label-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.sbui-radio-container--large .sbui-radio-label,
.sbui-radio-container--large .sbui-radio-label-text,
.sbui-radio-container--large .sbui-radio-label-description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.sbui-radio-container--xlarge .sbui-radio-label,
.sbui-radio-container--xlarge .sbui-radio-label-text,
.sbui-radio-container--xlarge .sbui-radio-label-description {
  font-size: 1rem;
  line-height: 1.5rem;
}
