/* CSS Module exports for JavaScript usage */
.primaryLight {
  color: #8f57e2;
}
.primaryMain {
  color: #620edf;
}
.primaryDark {
  color: #4b07af;
}
.primaryDarker {
  color: #390587;
}
.secondaryLight {
  color: #b1bbf9;
}
.secondaryMain {
  color: #5e72eb;
}
.secondaryDark {
  color: #3d54e1;
}
.secondaryDarker {
  color: #1a33d3;
}
.successLight {
  color: #a5ef8e;
}
.successMain {
  color: #3af000;
}
.successDark {
  color: #388e3c;
}
.errorLight {
  color: #e57373;
}
.errorMain {
  color: #f44336;
}
.errorDark {
  color: #d32f2f;
}
.orangeLight {
  color: #fbe9e7;
}
.orangeMain {
  color: #ffab91;
}
.orangeDark {
  color: #f57c00;
}
.warningLight {
  color: #ffed53;
}
.warningMain {
  color: #ffe500;
}
.warningDark {
  color: #c6b200;
}
.grey50 {
  color: #fffefd;
}
.grey100 {
  color: #efeeed;
}
.grey200 {
  color: #dfdedd;
}
.grey300 {
  color: #bfbebd;
}
.grey400 {
  color: #9f9e9d;
}
.grey500 {
  color: #6f6e6d;
}
.grey600 {
  color: #4c4b4a;
}
.grey700 {
  color: #3f3f46;
}
.grey800 {
  color: #27272a;
}
.grey900 {
  color: #18181b;
}
.grey950 {
  color: #09090b;
}
.paper {
  color: #e4e4e7;
}
.defaultBackground {
  color: #fffefd;
}
.textPrimary {
  color: #0c0b0a;
}
.textSecondary {
  color: #4c4b4a;
}
.darkPrimaryLight {
  color: #8f57e2;
}
.darkPrimaryMain {
  color: #620edf;
}
.darkPrimaryDark {
  color: #4b07af;
}
.darkPrimaryDarker {
  color: #390587;
}
.darkSecondaryLight {
  color: #b1bbf9;
}
.darkSecondaryMain {
  color: #5e72eb;
}
.darkSecondaryDark {
  color: #3d54e1;
}
.darkSecondaryDarker {
  color: #1a33d3;
}
.darkPaper {
  color: #18181b;
}
.darkBackground {
  color: #09090b;
}
.darkTextPrimary {
  color: #fffefd;
}
.darkTextSecondary {
  color: #bfbebd;
}
.darkLevel1 {
  color: #27272a;
}
.darkLevel2 {
  color: #1c1b1a;
}
.darkLevel3 {
  color: #09090b;
}
