.searchTextField {
  flex: 1;
  height: 32px;
}

.layoutModeButtonsGroup {
  border: var(--border-default);
  border-radius: var(--radius-default);
}

.layoutModeButton {
  border: none;
  border-radius: var(--radius-default);
  padding: 5px 16px;
}

.layoutModeButton svg {
  width: 20px;
  height: 20px;
}
