.sbui-divider {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sbui-divider-vertical {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 224, 224, var(--tw-bg-opacity));
}

:global(.dark) .sbui-divider-vertical {
  --tw-bg-opacity: 1;
  background-color: rgba(68, 68, 68, var(--tw-bg-opacity));
}

.sbui-divider-vertical {
  width: 1px;
  height: inherit;
}

.sbui-divider-vertical.sbui-divider--light {
  --tw-bg-opacity: 1;
  background-color: rgba(238, 238, 238, var(--tw-bg-opacity));
}

:global(.dark) .sbui-divider-vertical.sbui-divider--light {
  --tw-bg-opacity: 1;
  background-color: rgba(42, 42, 42, var(--tw-bg-opacity));
}

.sbui-divider--no-text {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--no-text {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--no-text {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sbui-divider > span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(187, 187, 187, var(--tw-text-opacity));
}

:global(.dark) .sbui-divider > span {
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

.sbui-divider > span {
  display: inline-block;
  padding: 0 1em;
}

.sbui-divider--left:before {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--left:before {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--left:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.sbui-divider--left:after {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--left:after {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--left:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.sbui-divider--right:before {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--right:before {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--right:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.sbui-divider--right:after {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--right:after {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--right:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.sbui-divider--center:before, .sbui-divider--center:after {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--center:before, :global(.dark) .sbui-divider--center:after {
  --tw-border-opacity: 1;
  border-color: rgba(68, 68, 68, var(--tw-border-opacity));
}

.sbui-divider--center:before,
.sbui-divider--center:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 50%;
}

.sbui-divider--light.sbui-divider--left:before, .sbui-divider--light.sbui-divider--left:after, .sbui-divider--light.sbui-divider--right:before, .sbui-divider--light.sbui-divider--right:after, .sbui-divider--light.sbui-divider--center:before, .sbui-divider--light.sbui-divider--center:after, .sbui-divider--light.sbui-divider--no-text {
  --tw-border-opacity: 1;
  border-color: rgba(238, 238, 238, var(--tw-border-opacity));
}

:global(.dark) .sbui-divider--light.sbui-divider--left:before, :global(.dark) .sbui-divider--light.sbui-divider--left:after, :global(.dark) .sbui-divider--light.sbui-divider--right:before, :global(.dark) .sbui-divider--light.sbui-divider--right:after, :global(.dark) .sbui-divider--light.sbui-divider--center:before, :global(.dark) .sbui-divider--light.sbui-divider--center:after, :global(.dark) .sbui-divider--light.sbui-divider--no-text {
  --tw-border-opacity: 1;
  border-color: rgba(42, 42, 42, var(--tw-border-opacity));
}

.sbui-divider--light.sbui-divider > span {
  --tw-text-opacity: 1;
  color: rgba(224, 224, 224, var(--tw-text-opacity));
}

:global(.dark) .sbui-divider--light.sbui-divider > span {
  --tw-text-opacity: 1;
  color: rgba(24, 24, 24, var(--tw-text-opacity));
}