a.sbui-typography-link {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(62, 207, 142, var(--tw-text-opacity));
}

:global(.dark) a.sbui-typography-link {
  --tw-text-opacity: 1;
  color: rgba(62, 207, 142, var(--tw-text-opacity));
}