.gradient1 {
  right: 0px;
  top: 0px;
}
.gradient2 {
  bottom: -100px;
  left: -100px;
}
.gradient3 {
  bottom: -100px;
  right: -100px;
}
.gradient4 {
  left: calc(50% - 200px);
  top: 100px;
}
@media (max-width: 1024px) {
  .gradient4 {
    display: none;
  }
}
