.sbui-typography-title {
  --tw-text-opacity: 1;
  color: rgba(15, 15, 15, var(--tw-text-opacity));
}

:global(.dark) .sbui-typography-title {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

h1.sbui-typography-title {
  font-size: 3rem;
  line-height: 1;
}

h2.sbui-typography-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3.sbui-typography-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4.sbui-typography-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h5.sbui-typography-title {
  font-size: 1rem;
  line-height: 1.5rem;
}