/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-white: oklch(98.5% 0 0);
  --ifm-color-gray-100: oklch(96.7% 0.001 286.375);
  --ifm-color-gray-200: oklch(92% 0.004 286.32);
  --ifm-color-gray-300: oklch(87.1% 0.006 286.286);
  --ifm-color-gray-400: oklch(70.5% 0.015 286.067);
  --ifm-color-gray-500: oklch(55.2% 0.016 285.938);
  --ifm-color-gray-600: oklch(44.2% 0.017 285.786);
  --ifm-color-gray-700: oklch(37% 0.013 285.805);
  --ifm-color-gray-800: oklch(27.4% 0.006 286.033);
  --ifm-color-gray-900: oklch(21% 0.006 285.885);
  --ifm-color-black: oklch(14.1% 0.005 285.823);

  --ifm-color-success: #06df72;
  --ifm-color-success-dark: #05c967;
  --ifm-color-success-darker: #05be61;
  --ifm-color-success-darkest: #049c50;
  --ifm-color-success-light: #07f57d;
  --ifm-color-success-lighter: #0ff983;
  --ifm-color-success-lightest: #30f994;

  --ifm-color-warning: #fdc700;
  --ifm-color-warning-dark: #e4b300;
  --ifm-color-warning-darker: #d7a900;
  --ifm-color-warning-darkest: #b18b00;
  --ifm-color-warning-light: #ffce17;
  --ifm-color-warning-lighter: #ffd024;
  --ifm-color-warning-lightest: #ffd84a;

  --ifm-color-danger: #ff6467;
  --ifm-color-danger-dark: #ff4144;
  --ifm-color-danger-darker: #ff2f33;
  --ifm-color-danger-darkest: #f90005;
  --ifm-color-danger-light: #ff878a;
  --ifm-color-danger-lighter: #ff999b;
  --ifm-color-danger-lightest: #ffcfcf;
}

html[data-theme='dark'] {
  --ifm-color-primary: #5e72eb;
  --ifm-color-primary-dark: #4158e7;
  --ifm-color-primary-darker: #324ce6;
  --ifm-color-primary-darkest: #1933cd;
  --ifm-color-primary-light: #7b8cef;
  --ifm-color-primary-lighter: #8a98f0;
  --ifm-color-primary-lightest: #b6bff6;

  --ifm-background-color: var(--ifm-color-black);
  --ifm-font-color-base: var(--ifm-color-white);
  --ifm-footer-background-color: var(--ifm-color-gray-900);
  --ifm-heading-color: var(--ifm-color-white);
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-menu-color: var(--ifm-color-white);
  --ifm-menu-color-active: var(--ifm-color-primary-lightest);
  --ifm-menu-color-background-active: var(--ifm-color-primary-dark);
  --ifm-menu-background-color: var(--ifm-color-white);
  --ifm-navbar-background-color: var(--ifm-color-gray-900);
  --ifm-tabs-color: var(--ifm-color-white);
}

html[data-theme='light'] {
  --ifm-color-primary: #620edf;
  --ifm-color-primary-dark: #580dc9;
  --ifm-color-primary-darker: #530cbe;
  --ifm-color-primary-darkest: #450a9c;
  --ifm-color-primary-light: #6d14f0;
  --ifm-color-primary-lighter: #7420f1;
  --ifm-color-primary-lightest: #8941f3;

  --ifm-background-color: var(--ifm-color-white);
  --ifm-font-color-base: var(--ifm-color-black);
  --ifm-footer-background-color: var(--ifm-color-gray-100);
  --ifm-heading-color: var(--ifm-color-black);
  --ifm-link-color: oklch(59.2% 0.249 0.584);
  --ifm-menu-color: var(--ifm-color-black);
  --ifm-menu-color-active: var(--ifm-color-primary-darkest);
  --ifm-menu-color-background-active: var(--ifm-color-primary-lightest);
  --ifm-navbar-background-color: var(--ifm-color-white);
  --ifm-tabs-color: var(--ifm-color-black);
}

/* ==================================|| NAVBAR ||================================== */

html[data-theme='dark'] .navbar__logo {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(337deg) brightness(112%) contrast(104%);
}

/* ==============================|| ALGOLIA SEARCH ||============================== */
html[data-theme='dark'] .DocSearch {
  /* Modal */
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-text-color: var(--ifm-color-white);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-gray-300);
  --docsearch-hit-background: var(--ifm-color-gray-900);
  --docsearch-searchbox-background: rgba(0, 0, 0, 0.2);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg, var(--ifm-color-gray-800) 0%, var(--ifm-color-gray-900) 100%);
}

html[data-theme='light'] .DocSearch {
  /* Modal */
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-text-color: var(--ifm-color-black);
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  --docsearch-searchbox-background: rgba(0, 0, 0, 0.05);
  --docsearch-highlight-color: var(--ifm-color-primary);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}
