/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Roboto+Mono&display=swap');

:root {
  --ifm-font-family-base: 'IBM Plex Sans', sans-serif;
  --ifm-font-family-monospace: 'Roboto Mono', monospace;
  --ifm-font-size-base: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  --ifm-h1-font-size: 2.25rem;
  --ifm-h2-font-size: 1.875rem;
  --ifm-h3-font-size: 1.5rem;
  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1.125rem;
  --ifm-h6-font-size: 1rem;
  --ifm-code-font-size: 95%;
}
