.container {
  padding-top: 200px;
  max-width: 1147px;
  box-sizing: content-box;
}

.list {
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
}

.gradient1 {
  top: -200px;
  left: -200px;
}

.gradient2 {
  top: -200px;
  right: -200px;
}

.gradient3 {
  top: 0px;
  left: calc(50% - 200px);
}

.gradient4 {
  bottom: -100px;
  left: -200px;
}

.gradient5 {
  top: 50%;
  right: -200px;
}

@media (max-width: 992px) {
  .container {
    overflow: hidden;
  }
  .gradient4 {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 120px;
  }
  .list {
    max-width: 426px;
  }
}

/* DEGENS Section */

.section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 164px;
}

.table {
  position: relative;
  border: 1px solid #b4b5c3;
  border-radius: 20px;
}

.grid_col {
  margin: auto;
  padding: 1rem;
}

.grid_col_end {
  margin: auto;
  padding: 0px 1rem;
}

.divider {
  height: 100% !important;
  top: 0px;
  left: 50%;
  position: absolute;
  margin: 0;
  color: #b4b5c3;
  opacity: 1;
  border-style: inset;
  border-width: 1px;
  border-color: #b4b5c3;
}

@media (min-width: 768px) {
  .grid_col {
    padding: 1.5rem;
  }
  .grid_col_end {
    padding: 0px;
  }
  .divider {
    left: 33%;
  }
}
@media (min-width: 900px) {
  .grid_col {
    padding: 2rem;
  }
}
