/* Import the bootstrap styles */
@import './bootstrap/mdb.min.css';

/* Import the color theme */
@import './color/_theme_default.css';

/* Import the fonts */
@import './fonts/_fonts.css';

/* ==============================|| GLOBAL VARIABLES ||============================== */

:root {
  --custom-font-size: calc(15px + 0.390625vw);

  --custom-font-weight-thin: 100;
  --custom-font-weight: 400;
  --custom-font-weight-medium: 500;
  --custom-font-weight-bold: 700;

  --background-end-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;

  --custom-bg-color: var(--grey900);
  --custom-color-brand-secondary: var(--secondary-main);
  --custom-color-brand: var(--primary-main);
  --custom-color-error-dark: var(--error-dark);
  --custom-color-error-light: var(--error-light);
  --custom-color-error: var(--error-main);
  --custom-color-success-dark: var(--success-dark);
  --custom-color-success-light: var(--success-light);
  --custom-color-success: var(--success-main);
  --custom-font-color-secondary: var(--grey300);
  --custom-font-color: var(--grey50);
  --custom-panel-color: var(--grey800);

  --custom-letter-spacing: normal;
  --custom-letter-spacing-header: 0.02em;
  --custom-letter-spacing-subheader: 0.02em;
  --custom-letter-spacing-btn: 0.02em;

  --custom-line-height: 1.2;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --border-radius: 4px;
  --custom-border-radius: 5px;
  --custom-border: 1px solid #333;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-spacing: 5px;
  --max-width: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

/* ==============================|| BODY, HEADING, FONT ||============================== */

* {
  box-sizing: border-box;
  font-family: var(--default-font-family) !important;
  font-weight: var(--custom-font-weight);
  font-style: normal;
}

html,
body,
main {
  background: var(--custom-bg-color) !important;
  color: var(--custom-font-color) !important;
  font-family: var(--default-font-family) !important;
  font-size: var(--custom-font-size) !important;
  font-style: normal;
  font-weight: var(--custom-font-weight);
  letter-spacing: var(--custom-letter-spacing);
  line-height: var(--custom-line-height);
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--custom-font-color) !important;
  font-family: var(--header-font-family) !important;
  font-style: normal;
  font-weight: var(--custom-font-weight-bold);
  letter-spacing: var(--custom-letter-spacing-header);
  line-height: var(--custom-line-height);
}
h4,
h5,
h6 {
  color: var(--custom-font-color) !important;
  font-family: var(--subheader-font-family) !important;
  font-style: normal;
  font-weight: var(--custom-font-weight);
  letter-spacing: var(--custom-letter-spacing-subheader);
  line-height: var(--custom-line-height);
}
h1 {
  font-size: 2.5rem !important;
}
h2 {
  font-size: 1.8rem !important;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.83rem !important;
}
h6 {
  font-size: 0.67rem !important;
}

strong {
  font-weight: var(--custom-font-weight-bold);
}

button,
button span {
  font-family: var(--btn-font-family) !important;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--custom-font-weight);
  letter-spacing: var(--custom-letter-spacing-btn);
  line-height: var(--custom-line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ==============================|| SCROLL STYLE ||============================== */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--custom-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--custom-color-brand);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-color-brand);
}

html.scrollDisabled {
  overflow: hidden;
}
