/* ==============================|| THEME OVERRIDES ||============================== */

@theme {
  /* Override REM Screen Sizes (root font is dynamic) */
  --breakpoint-sm: 640px; /* 40rem */
  --breakpoint-md: 768px; /* 48rem */
  --breakpoint-lg: 1024px; /* 64rem */
  --breakpoint-xl: 1280px; /* 80rem */
  --breakpoint-2xl: 1536px; /* 96rem */

  /* Disable Default Colors https://tailwindcss.com/docs/colors */
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial; /* overridden below */
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial; /* overridden below */
  --color-fuchsia-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-gray-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;

  /* Colors Remaining: Red, Orange, Yellow, Green, Cyan, Pink */
}

/* Set to static so they are always available in /packages */
@theme static {
  /* Gray (Zinc) https://tailwindcss.com/docs/colors */
  --color-base-0: oklch(100% 0 0);
  --color-base-50: oklch(98.5% 0 0);
  --color-base-100: oklch(96.7% 0.001 286.375);
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(87.1% 0.006 286.286);
  --color-base-400: oklch(70.5% 0.015 286.067);
  --color-base-500: oklch(55.2% 0.016 285.938);
  --color-base-600: oklch(44.2% 0.017 285.786);
  --color-base-700: oklch(37% 0.013 285.805);
  --color-base-800: oklch(27.4% 0.006 286.033); /* Background 3 #27272a */
  --color-base-900: oklch(21% 0.006 285.885); /* Background 2 #18181b */
  --color-base-950: oklch(14.1% 0.005 285.823); /* Background 1 #09090b */

  /* Brand Blue https://www.tints.dev/brand/5E72EB */
  --color-blue-50: oklch(97.74% 0.009 279.8);
  --color-blue-100: oklch(94.28% 0.023 277.99);
  --color-blue-200: oklch(87.64% 0.052 276.85);
  --color-blue-300: oklch(80.75% 0.081 276.7);
  --color-blue-400: oklch(71.65% 0.125 275.68);
  --color-blue-500: oklch(59.97% 0.182 272.64); /* Secondary #5e72eb */
  --color-blue-600: oklch(55.45% 0.204 270.82);
  --color-blue-700: oklch(50.86% 0.23 268.43);
  --color-blue-800: oklch(45.39% 0.243 266.28);
  --color-blue-900: oklch(35.53% 0.185 266.77);
  --color-blue-950: oklch(28.39% 0.139 267.54);

  /* Brand Purple https://www.tints.dev/brand/620EDF */
  --color-purple-50: oklch(96.58% 0.018 303.52);
  --color-purple-100: oklch(94.15% 0.031 304.32);
  --color-purple-200: oklch(85.93% 0.077 303.4);
  --color-purple-300: oklch(78% 0.123 302.02);
  --color-purple-400: oklch(66.95% 0.189 299.79);
  --color-purple-500: oklch(46.94% 0.261 288.7); /* Primary #620edf */
  --color-purple-600: oklch(44.27% 0.246 288.68);
  --color-purple-700: oklch(39.9% 0.22 289.2);
  --color-purple-800: oklch(33.61% 0.182 290);
  --color-purple-900: oklch(29.49% 0.158 290.42);
  --color-purple-950: oklch(22.93% 0.117 292.74);
}

/* =================================|| SHADCN/UI ||================================= */
:root {
  /* ===================|| LIGHT THEME ||==================== */
  --background: var(--color-base-0);
  --foreground: var(--color-base-950);
  --card: var(--color-base-50);
  --card-foreground: var(--color-base-950);
  --popover: var(--color-base-50);
  --popover-foreground: var(--color-base-950);

  --primary: var(--color-purple-500);
  --primary-foreground: var(--color-purple-50);
  --secondary: var(--color-blue-500);
  --secondary-foreground: var(--color-blue-50);

  --muted: var(--color-base-200);
  --muted-foreground: var(--color-base-600);
  --accent: var(--color-base-100);
  --accent-foreground: var(--color-base-900);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-50);
  --warning: var(--color-yellow-400);
  --warning-foreground: var(--color-yellow-50);
  --success: var(--color-green-400);
  --success-foreground: var(--color-green-50);
  --info: var(--color-blue-400);
  --info-foreground: var(--color-blue-50);

  --border: var(--color-base-200);
  --divider: var(--color-base-500);
  --input: var(--color-base-200);
  --ring: var(--color-purple-500);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: var(--color-base-50);
  --sidebar-foreground: var(--color-base-950);
  --sidebar-primary: var(--color-purple-500);
  --sidebar-primary-foreground: var(--color-purple-50);
  --sidebar-accent: var(--color-base-100);
  --sidebar-accent-foreground: var(--color-base-900);
  --sidebar-border: var(--color-base-200);
  --sidebar-ring: var(--color-purple-500);
}

.dark {
  /* ===================|| DARK THEME ||===================== */
  --background: var(--color-base-950);
  --foreground: var(--color-base-50);
  --card: var(--color-base-900);
  --card-foreground: var(--color-base-50);
  --popover: var(--color-base-900);
  --popover-foreground: var(--color-base-50);

  --primary: var(--color-purple-500);
  --primary-foreground: var(--color-purple-50);
  --secondary: var(--color-blue-500);
  --secondary-foreground: var(--color-blue-50);

  --muted: var(--color-base-800);
  --muted-foreground: var(--color-base-400);
  --accent: var(--color-base-800);
  --accent-foreground: var(--color-base-50);

  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-50);
  --warning: var(--color-yellow-400);
  --warning-foreground: var(--color-yellow-50);
  --success: var(--color-green-400);
  --success-foreground: var(--color-green-50);
  --info: var(--color-blue-400);
  --info-foreground: var(--color-blue-50);

  --border: oklch(1 0 0 / 10%);
  --divider: var(--color-base-500);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-purple-500);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: var(--color-base-900);
  --sidebar-foreground: var(--color-base-50);
  --sidebar-primary: var(--color-purple-500);
  --sidebar-primary-foreground: var(--color-purple-50);
  --sidebar-accent: var(--color-base-800);
  --sidebar-accent-foreground: var(--color-base-50);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--color-purple-500);
}

/* ================================|| THEME VARS ||================================= */

@theme inline static {
  /* ======================|| FONTS ||======================= */
  --font-default: var(--font-ibm-plex-sans), var(--font-sans);
  --font-header: var(--font-nexa-rust-sans-black), var(--font-default);
  --font-subheader: var(--font-lilita-one), var(--font-default);
  --font-special: var(--font-press-start), var(--font-default);
  --font-btn: var(--font-lilita-one), var(--font-default);

  --root-font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);

  --default-letter-spacing: var(--tracking-wide); /* 0.025em */
  --header-letter-spacing: var(--tracking-wide); /* 0.025em */
  --subheader-letter-spacing: var(--tracking-wide); /* 0.025em */
  --special-letter-spacing: var(--tracking-tight); /* -0.025em */
  --btn-letter-spacing: var(--tracking-wide); /* 0.025em */

  /* ======================|| COLORS ||====================== */
  --color-blue: var(--secondary);
  --color-purple: var(--primary);

  --gradient-brand: linear-gradient(90deg, var(--color-purple) 0%, var(--color-blue) 100%);
  --gradient-brand-pink: linear-gradient(
    128deg,
    var(--color-purple) 0%,
    var(--color-blue) 46.93%,
    var(--color-pink-600) 100%
  );

  --color-error: var(--destructive);
  --color-error-dark: var(--color-red-600);
  --color-error-light: var(--color-red-200);

  --color-warning: var(--warning);
  --color-warning-dark: var(--color-yellow-600);
  --color-warning-light: var(--color-yellow-200);

  --color-success: var(--success);
  --color-success-dark: var(--color-green-600);
  --color-success-light: var(--color-green-200);

  --color-info: var(--info);
  --color-info-dark: var(--color-blue-600);
  --color-info-light: var(--color-blue-200);

  --color-dark: var(--color-base-950);
  --color-light: var(--color-base-0);

  /* ===================|| APP BG/TEXT ||==================== */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* =====================|| SIDEBAR ||====================== */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* ======================|| CHARTS ||====================== */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* =====================|| BORDERS ||====================== */
  --color-border: var(--border);
  --color-divider: var(--divider);
  --color-ring: var(--ring);

  --border-default: 1px solid var(--color-border);
  --border-hidden: 1px solid transparent;
  --border-blue: 1px solid var(--color-blue);
  --border-purple: 1px solid var(--color-purple);

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;

  --border-radius-default: var(--radius-md);

  /* ======================|| FORMS ||======================= */
  --color-input: var(--input);
  --color-input-label: var(--color-muted-foreground);
  --color-input-placeholder: var(--color-muted-foreground);
  --color-input-value: var(--color-foreground);

  /* ======================|| OTHER ||======================= */
  --custom-max-width: var(--container-5xl); /* 1024px */
}
