/* =======================|| CUSTOM ANIMATIONS/TRANSITIONS  ||======================= */

@utility animation-hidden {
  @apply !animate-none !transform-none !transition-none;
}

@layer animations {
  /* ==============================|| TRANSITIONS ||============================== */

  /* ===== Fade Transitions ===== */
  .transition-fade {
    transition: opacity 1s ease-in-out;
  }
  .transition-fade-slow {
    transition: opacity 2s ease-in-out;
  }

  /* ===== Fade + Slide Down  ===== */
  .transition-vertical-fade {
    top: 0;
    transition:
      opacity 2s ease-in-out,
      top 1s ease-in-out;
  }
  /* ===== Pop Transitions ===== */
  .transition-quick-pop {
    transition:
      opacity 0.5s,
      transform 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /* ===== Pop + Slide Right ===== */
  .transition-quick-pop-left {
    left: 0;
    transition:
      opacity 0.2s,
      transform 0.4s,
      left 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /* ==============================|| ANIMATIONS ||============================== */

  /* ===== Blinking Animations ===== */
  .animate-blink {
    animation: blink 0.8s ease infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ===== Zoom Animations ===== */
  .animate-zoom-out {
    animation: zoom-out 3s;
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-zoom-out-large {
    animation: zoom-out-2x 3s;
  }

  @keyframes zoom-out-2x {
    0% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  /* ===== Hover Animation ===== */
  .animate-hover {
    animation: hover 4s ease infinite;
  }

  @keyframes hover {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-20px);
    }
  }

  /* ==============================|| EXTRA KEYFRAMES ||============================== */

  @keyframes custom-bounce {
    0%,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateZ(0);
    }
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -5px, 0);
    }
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -7px, 0);
    }
    80% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateZ(0);
    }
    90% {
      transform: translate3d(0, -2px, 0);
    }
  }

  @keyframes wings {
    50% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
