@import '@nl/ui/styles.css';

/* ==============================|| OVERRIDES ||============================== */

:root {
  --default-letter-spacing: var(--tracking-wider); /* 0.05em */

  --font-btn: var(--font-default);

  --font-subheader: var(--font-special);
  --subheader-letter-spacing: var(--special-letter-spacing);
}

/* ==============================|| TEAM ||============================== */

.about-team-name {
  overflow: hidden;
  text-overflow: ellipsis;
  line-break: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 48rem) {
  .teams-slider .nifty-teams {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

/* ==============================|| MEDIA QUERIES ||============================== */

@media (min-width: 48rem) {
  .desktop {
    display: flex !important;
  }
  .mobile {
    display: none !important;
  }
}

@media (max-width: 48rem) or ((orientation: landscape) and (max-width: 550px)) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
}
