/* Export the CSS variables for JavaScript usage */
:export {
  /*  primary */
  primaryLight: #8f57e2;
  primaryMain: #620edf;
  primaryDark: #4b07af;
  primaryDarker: #390587;
  /*  secondary */
  secondaryLight: #b1bbf9;
  secondaryMain: #5e72eb;
  secondaryDark: #3d54e1;
  secondaryDarker: #1a33d3;
  /*  success */
  successLight: #a5ef8e;
  successMain: #3af000;
  successDark: #388e3c;
  /*  error */
  errorLight: #e57373;
  errorMain: #f44336;
  errorDark: #d32f2f;
  /*  orange */
  orangeLight: #fbe9e7;
  orangeMain: #ffab91;
  orangeDark: #f57c00;
  /*  warning */
  warningLight: #ffed53;
  warningMain: #ffe500;
  warningDark: #c6b200;
  /*  grey */
  grey50: #fffefd;
  grey100: #efeeed;
  grey200: #dfdedd;
  grey300: #bfbebd;
  grey400: #9f9e9d;
  grey500: #6f6e6d;
  grey600: #4c4b4a;
  grey700: #2c2b2a;
  grey800: #1c1b1a;
  grey900: #0c0b0a;
  /*  paper & background */
  paper: #fffefd;
  defaultBackground: #fffefd;
  /*  text variants */
  textPrimary: #0c0b0a;
  textSecondary: #4c4b4a;

  /*  ==============================|| DARK THEME VARIANTS ||============================== // */
  /*  primary dark */
  darkPrimaryLight: #8f57e2;
  darkPrimaryMain: #620edf;
  darkPrimaryDark: #4b07af;
  darkPrimaryDarker: #390587;
  /*  secondary dark */
  darkSecondaryLight: #b1bbf9;
  darkSecondaryMain: #5e72eb;
  darkSecondaryDark: #3d54e1;
  darkSecondaryDarker: #1a33d3;
  /*  paper & background */
  darkPaper: #1c1b1a;
  darkBackground: #1c1b1a;
  /*  text variants */
  darkTextPrimary: #fffefd;
  darkTextSecondary: #bfbebd;
  /*  dark - light, main, dark */
  darkLevel1: #1c1b1a;
  darkLevel2: #1c1b1a;
  darkLevel3: #0c0b0a;
}
