:root {
  /*  primary */
  --primary-light: #e3ebeb;
  --primary-main: #16595a;
  --primary-dark: #135152;
  --primary-darker: #0c3e3f;
  /*  secondary */
  --secondary-light: #f8f0e5;
  --secondary-main: #c77e23;
  --secondary-dark: #c1761f;
  --secondary-darker: #b36115;
  /*  success Colors */
  --success-light: #a5ef8e;
  --success-main: #3af000;
  --success-dark: #388e3c;
  /*  error */
  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  /*  orange */
  --orange-light: #fbe9e7;
  --orange-main: #ffab91;
  --orange-dark: #f57c00;
  /*  warning */
  --warning-light: #fff8e1;
  --warning-main: #ffe57f;
  --warning-dark: #ffc107;
  /*  grey */
  --grey50: #fffefd;
  --grey100: #efeeed;
  --grey200: #dfdedd;
  --grey300: #bfbebd;
  --grey400: #9f9e9d;
  --grey500: #6f6e6d;
  --grey600: #4c4b4a;
  --grey700: #2c2b2a;
  --grey800: #1c1b1a;
  --grey900: #0c0b0a;
  /*  paper & background */
  --paper: var(--grey50);
  --default-background: var(--grey50);
  /*  text variants */
  --text-primary: var(--grey900);
  --text-secondary: var(--grey600);

  /*  ==============================|| DARK THEME VARIANTS ||============================== // */
  /*  primary dark */
  --dark-primary-light: #eceff1;
  --dark-primary-main: #1f7778;
  --dark-primary-dark: #1b6f70;
  --dark-primary-darker: #125a5b;
  /*  secondary dark */
  --dark-secondary-light: #f8f0e5;
  --dark-secondary-main: #c77e23;
  --dark-secondary-dark: #c1761f;
  --dark-secondary-darker: #b36115;
  /*  paper & background */
  --dark-background: #010606;
  --dark-paper: #010f17;
  /*  text variants */
  --dark-text-primary: #ffffff;
  --dark-text-secondary: #8492c4;
  /*  dark - light, main, dark */
  --dark-level1: var(--darkPaper);
  --dark-level2: var(--darkBackground);
  --dark-level3: var(--grey900);
}
