:root {
  /*  primary */
  --primary-light: #e4e7ec;
  --primary-main: #203461;
  --primary-dark: #1c2f59;
  --primary-darker: #132145;
  /*  secondary */
  --secondary-light: #fde8ef;
  --secondary-main: #ec407a;
  --secondary-dark: #ea3a72;
  --secondary-darker: #e42a5d;
  /*  success Colors */
  --success-light: #a5ef8e;
  --success-main: #3af000;
  --success-dark: #388e3c;
  /*  error */
  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  /*  orange */
  --orange-light: #fbe9e7;
  --orange-main: #ffab91;
  --orange-dark: #f57c00;
  /*  warning */
  --warning-light: #fdf5ea;
  --warning-main: #f0ad4e;
  --warning-dark: #ec9c3d;
  /*  grey */
  --grey50: #fffefd;
  --grey100: #efeeed;
  --grey200: #dfdedd;
  --grey300: #bfbebd;
  --grey400: #9f9e9d;
  --grey500: #6f6e6d;
  --grey600: #4c4b4a;
  --grey700: #2c2b2a;
  --grey800: #1c1b1a;
  --grey900: #0c0b0a;
  /*  paper & background */
  --paper: var(--grey50);
  --default-background: var(--grey50);
  /*  text variants */
  --text-primary: var(--grey900);
  --text-secondary: var(--grey600);

  /*  ==============================|| DARK THEME VARIANTS ||============================== // */
  /*  primary dark */
  --dark-primary-light: #ecedf1;
  --dark-primary-main: #606d88;
  --dark-primary-dark: #586580;
  --dark-primary-darker: #44506b;
  /*  secondary dark */
  --dark-secondary-light: #fde8ef;
  --dark-secondary-main: #ec407a;
  --dark-secondary-dark: #ea3a72;
  --dark-secondary-darker: #e42a5d;
  /*  paper & background */
  --dark-background: #0a0f23;
  --dark-paper: #030614;
  /*  text variants */
  --dark-text-primary: #d5d9e9;
  --dark-text-secondary: #d8ddf0;
  /*  dark - light, main, dark */
  --dark-level1: var(--darkPaper);
  --dark-level2: var(--darkBackground);
  --dark-level3: var(--grey900);
}
