:root {
  /*  primary */
  --primary-light: #e2e5e8;
  --primary-main: #0a2342;
  --primary-dark: #091f3c;
  --primary-darker: #05152b;
  /*  secondary */
  --secondary-light: #96d2c6;
  --secondary-main: #2ca58d;
  --secondary-dark: #279d85;
  --secondary-darker: #1b8a70;
  /*  success Colors */
  --success-light: #a5ef8e;
  --success-main: #3af000;
  --success-dark: #388e3c;
  /*  error */
  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  /*  orange */
  --orange-light: #fbe9e7;
  --orange-main: #ffab91;
  --orange-dark: #f57c00;
  /*  warning */
  --warning-light: #fff8e1;
  --warning-main: #ffe57f;
  --warning-dark: #ffc107;
  /*  grey */
  --grey50: #fffefd;
  --grey100: #efeeed;
  --grey200: #dfdedd;
  --grey300: #bfbebd;
  --grey400: #9f9e9d;
  --grey500: #6f6e6d;
  --grey600: #4c4b4a;
  --grey700: #2c2b2a;
  --grey800: #1c1b1a;
  --grey900: #0c0b0a;
  /*  paper & background */
  --paper: var(--grey50);
  --default-background: var(--grey50);
  /*  text variants */
  --text-primary: var(--grey900);
  --text-secondary: var(--grey600);

  /*  ==============================|| DARK THEME VARIANTS ||============================== // */
  /*  primary dark */
  --dark-primary-light: #e2e5e8;
  --dark-primary-main: #54657b;
  --dark-primary-dark: #2f445e;
  --dark-primary-darker: #05152b;
  /*  secondary dark */
  --dark-secondary-light: #96d2c6;
  --dark-secondary-main: #2ca58d;
  --dark-secondary-dark: #279d85;
  --dark-secondary-darker: #1b8a70;
  /*  paper & background */
  --dark-background: #051327;
  --dark-paper: #030c1d;
  /*  text variants */
  --dark-text-primary: #bdc8f0;
  --dark-text-secondary: #8492c4;
  /*  dark - light, main, dark */
  --dark-level1: var(--darkPaper);
  --dark-level2: var(--darkBackground);
  --dark-level3: var(--grey900);
}
