// primary
$primaryLight: #e8eaf6;
$primaryMain: #3f51b5;
$primaryDark: #3949ab;
$primaryDarker: #283593;

// secondary
$secondaryLight: #e8eaf6;
$secondaryMain: #3f51b5;
$secondaryDark: #3949ab;
$secondaryDarker: #283593;

// success Colors
$successLight: #a5ef8e;
$successMain: #3af000;
$successDark: #388e3c;

// error
$errorLight: #e57373;
$errorMain: #f44336;
$errorDark: #d32f2f;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #f57c00;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #fffefd;
$grey100: #efeeed;
$grey200: #dfdedd;
$grey300: #bfbebd;
$grey400: #9f9e9d;
$grey500: #6f6e6d;
$grey600: #4c4b4a;
$grey700: #2c2b2a;
$grey800: #1c1b1a;
$grey900: #0c0b0a;

// paper & background
$paper: $grey50;
$defaultBackground: $grey50;

// text variants
$textPrimary: $grey900;
$textSecondary: $grey600;

// ==============================|| DARK THEME VARIANTS ||============================== //

// primary dark
$darkPrimaryLight: #eeedfd;
$darkPrimaryMain: #7267ef;
$darkPrimaryDark: #6a5fed;
$darkPrimaryDarker: #554ae8;

// secondary dark
$darkSecondaryLight: #eeedfd;
$darkSecondaryMain: #7267ef;
$darkSecondaryDark: #6a5fed;
$darkSecondaryDarker: #554ae8;

// paper & background
$darkBackground: #1a223f;
$darkPaper: #111936;

// text variants
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// dark - light, main, dark
$darkLevel1: $darkPaper;
$darkLevel2: $darkBackground;
$darkLevel3: $grey900;

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // primary
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primaryDarker: $primaryDarker;

  // secondary
  secondaryLight: $secondaryLight;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondaryDarker: $secondaryDarker;

  // success
  successLight: $successLight;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey800: $grey800;
  grey900: $grey900;

  // paper & background
  paper: $paper;
  defaultBackground: $defaultBackground;

  // text variants
  textPrimary: $textPrimary;
  textSecondary: $textSecondary;

  // ==============================|| DARK THEME VARIANTS ||============================== //

  // primary dark
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimaryDarker: $darkPrimaryDarker;

  // secondary dark
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondaryDarker: $darkSecondaryDarker;

  // paper & background
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;

  // text variants
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;

  // dark - light, main, dark
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;
  darkLevel3: $darkLevel3;
}
