@import '@nl/tailwind-config/styles';
@import './animations.css';

/* ==============================|| OVERRIDES ||============================== */

:root {
  --subheader-font: var(--special-font);
  --custom-letter-spacing-subheader: -0.02em;
}

/* ==============================|| FORMS ||============================== */

label {
  display: block;
  margin: 8px 0 4px 0;
  color: var(--custom-fg-secondary-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-fg-color);
}

input[disabled] {
  color: rgba(224, 224, 224, 0.75) !important;
  background-color: var(--custom-bg-color) !important;
}

/* ==============================|| COMPONENT OVERRIDES ||============================== */

.sbui-connect-input input[disabled] {
  background-color: transparent !important;
}

.sbui-tab-bar-inner-container {
  /* TODO: change back after enabling Inventory & Stats tabs */
  /* justify-content: space-around; */
  justify-content: flex-start;
}
