@import '/fonts/style.css';

/************************************* Global Variables *************************************/

:root {
  --custom-font-family: 'IBM Plex Sans', sans-serif;
  --custom-header-font-family: 'Nexa Rust Sans Black', 'Lilita One', 'IBM Plex Sans', sans-serif;
  --custom-subheader-font-family: 'Press Start 2P', 'Lilita One', 'IBM Plex Sans', sans-serif;
  --custom-button-font-family: 'Lilita One', 'IBM Plex Sans', sans-serif;
  --custom-font-weight: 400;
  --custom-font-weight-thin: 100;
  --custom-font-weight-medium: 500;
  --custom-font-weight-bold: 700;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-bg-color: #3d3d3d;
  --custom-bg-color-dark: #090a0b;
  --custom-panel-color: #222;
  --custom-card-color: rgba(31, 31, 31);
  --custom-color: #fff;
  --custom-color-secondary: #666;
  --custom-color-brand: #620edf;
  --custom-color-brand-secondary: #5e72eb;
  --custom-color-success: #24b47e;
  --custom-color-error: rgba(239, 68, 68);
  --custom-color-error-secondary: rgba(220, 38, 38);

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;
  --max-width: 1100px;
  --border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

/************************************* Body, Heading, Font *************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--custom-font-family);
  font-weight: var(--custom-font-weight);
  font-style: normal;
}

html {
  overflow: hidden;
}
body {
  overflow-x: hidden;
}
html,
body,
#__next,
main {
  color: rgb(var(--foreground-rgb));
  background: var(--custom-bg-color-dark);
  font-family: var(--custom-font-family);
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  /* overflow: hidden; */
  position: relative;
  /* font-size: calc(15px + 0.390625vw); */
  font-size: 16px;
  font-style: normal;
  font-weight: var(--custom-font-weight);
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-family: var(--custom-header-font-family);
  font-style: normal;
  font-weight: var(--custom-font-weight-bold);
  letter-spacing: 0.02em;
  line-height: 1.2;
}
h4,
h5,
h6 {
  font-family: var(--custom-subheader-font-family);
  font-style: normal;
  font-weight: var(--custom-font-weight);
  letter-spacing: -0.02em;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem !important;
}
h2 {
  font-size: 1.8rem !important;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.83rem !important;
}
h6 {
  font-size: 0.67rem !important;
}

strong {
  font-weight: var(--custom-font-weight-bold);
}

button,
.btn,
.sbui-btn span {
  font-family: var(--custom-button-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/************************************* Scroll Style *************************************/

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--custom-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--custom-color-brand);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-color-brand);
}

/************************************* Utils *************************************/

.hidden {
  display: none !important;
}
.block {
  display: block;
  width: 100%;
}
.inline-block {
  display: inline-block;
  width: 100%;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.flex-1 {
  flex: 1 1 0;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-sm {
  font-size: 0.8rem;
  font-weight: 300;
}
.text-right {
  text-align: right;
}
.font-light {
  font-weight: 300;
}
.opacity-half {
  opacity: 50%;
}
.text-align-center {
  text-align: center;
}
.white-space-no-wrap {
  white-space: nowrap;
}
.pixelated {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  image-rendering: pixelated;
}
.radial-gradient-bg {
  position: absolute;
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(95, 190, 74, 0) 0%,
    rgba(21, 18, 27, 0) 19.27%,
    #08090a 99.74%
  );
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.radial-gradient-bg-centered {
  position: absolute;
  background: radial-gradient(189.96% 61.18% at 50% 50%, rgba(95, 190, 74, 0) 0%, rgba(21, 18, 27, 0) 30%, #08090a 85%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.radial-gradient-bg-full {
  position: absolute;
  background: radial-gradient(transparent, #08090a 85%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/************************************* Grid *************************************/

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^='col'] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/************************************* Forms *************************************/

label {
  display: block;
  margin: 8px 0 4px 0;
  color: var(--custom-color-secondary);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: var(--custom-font-weight-medium);
}

input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

input[disabled] {
  color: rgba(224, 224, 224, 0.75) !important;
  background-color: var(--custom-bg-color) !important;
}

/************************************* Component Overrides *************************************/

.sbui-connect-input input[disabled] {
  background-color: transparent !important;
}

.sbui-tab-bar-inner-container {
  /* TODO: change back after enabling Inventory & Stats tabs */
  /* justify-content: space-around; */
  justify-content: flex-start;
}
