.logo_container {
  position: absolute;
  background: url(/assets/corner.svg) 100% 100% no-repeat;
  width: 145px;
  height: 95px;
  top: -10px;
  left: -10px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-top: 25px;
  margin-left: 35px;
  max-width: 85px;
}

.navbar {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.navbar::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(to left, var(--custom-color-brand), var(--custom-color-brand-secondary));
  border-left: 5px solid white;
  border-bottom: 7px solid white;
  top: -250%;
  bottom: -100%;
  left: 0;
  right: -10%;
  transform: perspective(50em) rotateX(60deg);
}

.navbar_inner {
  display: flex;
  white-space: nowrap;
  margin-right: 95px;
}

.nav_item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 44px;
}

.navbar_inner .nav_item:first-child {
  margin-left: -2px;
}

.navbar_inner .nav_item::after {
  content: '';
  position: absolute;
  right: -22px;
  top: 0;
  bottom: 0;
  border-left: 1px solid lightgrey;
  height: 100%;
  transform: skew(-20deg);
}

.navbar_inner .nav_item:last-child::after {
  display: none;
}

.nav_item img {
  height: 22px;
  width: 22px;
}

.nav_item img:hover,
.logo_container img:hover {
  transform: translateY(-4px);
  transition: transform 0.2s;
}

.profile {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  white-space: nowrap;
}

.profile::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: white;
  transform: skew(-20deg);
}

.profile_icon {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 8px;
}

.navbar_inner,
.profile,
.profile_mobile {
  /* Safari perspective fix */
  transform: translate3d(0px, 0px, 200px);
}

@media only screen and (max-width: 576px) {
  .logo_container {
    top: -18px;
    left: -18px;
  }
  .logo {
    margin-top: 30px;
    margin-left: 40px;
  }
  .desktop_nav {
    display: none;
  }
  .navbar {
    position: absolute;
    overflow: visible;
    width: 112px;
    height: 78px;
  }
  .navbar::before {
    top: -50px;
    bottom: -24px;
    right: -55px;
    left: 25px;
    border-width: 5px;
    transform: perspective(16em) rotateX(60deg);
  }
  .profile_mobile {
    margin: 0;
    width: 102px;
    height: 72px;
    padding-left: 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}
