/* 
  ==========================
  PROFILE
  ==========================
*/

/* Profile Card */

.profileContainer {
  display: flex;
  max-width: 450px;
  height: 100%;
  margin: auto;
}

.profileCard {
  margin: auto;
  width: 100%;
  padding: 0px 10px;
}

.profileCard .profileCardHeader {
  display: flex;
  justify-content: space-between;
}

.profileCard .userInfo {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard .userInfo p {
  margin: 0;
}

.profileCard .userInfo .username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileCard .userInfo .avatarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Button */

.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 8px 0px;
}

.button_primary {
  composes: button;
  background-color: var(--custom-color-brand) !important;
  border-color: var(--custom-color-brand) !important;
}
.button_primary:hover {
  background-color: var(--custom-color-brand-secondary) !important;
  border-color: var(--custom-color-brand-secondary) !important;
}
.button_secondary {
  composes: button;
  background-color: var(--custom-color-secondary) !important;
  border-color: var(--custom-color-secondary) !important;
}
.button_secondary:hover {
  background-color: var(--custom-bg-color) !important;
  border-color: var(--custom-bg-color) !important;
}

.button_danger {
  composes: button;
  background-color: var(--custom-color-error) !important;
  border-color: var(--custom-color-error) !important;
}
.button_danger:hover {
  background-color: var(--custom-color-error-secondary) !important;
  border-color: var(--custom-color-error-secondary) !important;
}

.button svg {
  margin-right: 8px;
}

/* Widgets */

.hr {
  border: none;
  border-top: 1px solid var(--custom-color-secondary);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no_image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_account_dialog {
  background-color: var(--custom-bg-color) !important;
}
.delete_account_dialog_paper {
  background-color: var(--custom-card-color) !important;
  border-color: var(--custom-card-color) !important;
  color: var(--custom-color) !important;
  width: 800px;
  max-width: 100vw;
}

/* Inventory */

.currencyContainer {
  display: flex;
  justify-content: space-between;
}

.currency {
  width: 48%;
  color: white !important;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .profileContainer {
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
  }
  .profileCard {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    max-width: 100vw;
    overflow-y: auto !important;
  }
}
