.azure {
  background-color: #008ad7;
  color: var(--color-light);
}

.bitbucket {
  background-color: #205081;
  color: var(--color-light);
}

.facebook {
  background-color: #4267b2;
  color: var(--color-light);
}

.github {
  background-color: #333;
  color: var(--color-light);
}

.gitlab {
  background-color: #fc6d27;
  color: var(--color-light);
}

.google {
  background-color: #ce4430;
  color: var(--color-light);
}

.twitter {
  background-color: #1da1f2;
  color: var(--color-light);
}

.apple {
  background-color: #000;
  color: var(--color-light);
}

.discord {
  background-color: #404fec;
  color: var(--color-light);
}

.twitch {
  background-color: #9146ff;
  color: var(--color-light);
}
